# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
nimcache
*.pdb
*.ilk
.*
*.dll
__pycache__
bindings/generated
*.dSYM
dump.txt
tests/fileformats/jpeg/generated
tests/fileformats/jpeg/diffs
